// $char: #292929;
:root {
  --background-dark: #8A2387;
  --background-medium: #E94057;
  --background-light: #F27121;
  --link: #ffffff;
  --bg-gradient: var(--background-light), var(--background-medium), var(--background-dark);
  --radius: .4em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  font: 100%/1.5 sans-serif;
  word-wrap: break-word;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #ffffff;

  @media (min-width: 1024px) {
    max-width: 66em;
  }
}

body {
  background-attachment: fixed;
  background-image:  radial-gradient(circle at 49% -14%, var(--bg-gradient));
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.50em;
}

h1,
h2,
h3,
h4 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
}

hr,
p {
  margin-top: 1em;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a {
  color: var(--link);
  text-decoration: underline;
}

ul {
  padding-left: 1em;
}

code {
	padding: 2px 5px;
	background-color: #2b3748;
	color: #f2f2f2;
}

pre {
  border-radius: var(--radius);
  border: 1px solid var(--background-light);
	padding: 1rem;
	background-color: #2b3748 !important;
  > code {
    all: unset;
  }
}


// bg-blue-50 p-2 rounded mb-4 border border-blue-500 text-blue-600
.message {
  background-color: rgba(255,255,255,.2);
  color: #ffffff;
  border-radius: var(--radius);
  padding: 1rem;
}
