---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
  <nav class="bg-gray-800">
    <div class="mx-auto container px-2 sm:px-0">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <site-menu>
          <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.

              Heroicon name: outline/bars-3

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg id="closedIcon" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.

              Heroicon name: outline/x-mark

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg id="openIcon" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
          </site-menu>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center text-3xl">
            <a href="/" class="no-underline hover:underline">{ SITE_TITLE }</a>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

              <HeaderLink href="/">Home</HeaderLink>

              <HeaderLink href="/homelab">HomeLab</HeaderLink>
              <HeaderLink href="/cv">CV</HeaderLink>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <HeaderLink class="block" href="/">Home</HeaderLink>

        <HeaderLink class="block" href="/homelab">HomeLab</HeaderLink>
        <HeaderLink class="block" href="/cv">CV</HeaderLink>

      </div>
    </div>
  </nav>

</header>

<script>
  // Define the behaviour for our new type of HTML element.
  class Menu extends HTMLElement {
    constructor() {
      super();
      let count = 0;

      const menuButton = this.querySelector('button');
      const closedIcon = document.getElementById('closedIcon');
      const openIcon = this.getElementById('openIcon');

      // Each time the button is clicked, update the count.
      menuButton.addEventListener('click', () => {
        console.log(openIcon)
        console.log(closedIcon)
      });
    }
  }

  // Tell the browser to use our AstroHeart class for <astro-heart> elements.
  customElements.define('site-menu', Menu);
</script>
