---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={href} 
  class:list={[
    'text-lg no-underline text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 text-sm font-medium hover:underline',
    className, { active: isActive }
  ]}
  {...props}
>
  <slot />
</a>
<style>
	a.active {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    text-decoration: none;
	}
</style>
