---
import App from '/src/layouts/app.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import movies from '/src/data/movies.json'
console.log(movies)
---

<App>
  <section>
    <ul>
      {
        movies.map((movie) => (
          <li>
            <div>{movie.Name}</div>
          </li>
        ))
      }
    </ul>
  </section>
</App>

